@font-face {
    font-family: "cooper-std-black";
    src: url("./assets/fonts/Cooper\ Std\ Black.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "cooper-std-black", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    max-width: 100%;
    cursor: url("./assets/images/cursor.png"), default;
    min-height: 100vh;
    background-color: #2c94ff;
}

#root {
    background: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 100vh;
}

.main {
    min-height: 100vh;
    max-width: 2060px;
    min-width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.App {
    background-image: url(./assets/images/clud-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: url("./assets/images/cursor.png"), 26px 36px auto;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.61);
}

/* TOP BAR FOR DESKTOP */

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94.5%;
    margin: 15px auto;
    position: relative;
    z-index: 999;
}

.phone-div {
    position: relative;
    flex: 1;
    text-align: left;
}

.phoneGifHover,
.phoneGif {
    object-fit: contain;
    max-width: 110px;
    z-index: 222;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.phoneGifHover {
    position: absolute;
    left: 19px;
    top: 17px;
    max-width: 70px;
    pointer-events: none;
}

div.hoverText {
    font-family: "cooper-std-black", sans-serif;
    font-weight: 800;
    color: #e92cff;
    font-size: 15px;
    position: absolute;
    left: 68px;
    top: 22px;
    background-image: url(./assets/images/text-bg.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0;
    padding: 20px 32px;
    flex-direction: column;
    width: 680px;
    max-width: 680px;
    text-align: left;
    pointer-events: none;
}

@media only screen and (max-width:950px) {
    div.hoverText {
        width: 540px;
    }
}

/* Animation */

.headerANimation {
    animation: spendAnim 0.7s forwards;
}

.hideMessage {
    animation: spendAnim1 0.4s forwards;
}

@keyframes spendAnim {
    0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: left 20%;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: left 20%;
    }
}

@keyframes spendAnim1 {
    0% {
        opacity: 1;
        transform: scale(1);
        transform-origin: left 20%;
    }
    100% {
        opacity: 0;
        transform: scale(0);
        transform-origin: left 20%;
    }
}

div.hoverText.show {
    opacity: 1;
    pointer-events: all;
}

.message-wrapper {
    overflow: auto;
    max-height: 60px;
}

.message-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

.message-wrapper::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.message-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(228, 47, 250, 1);
    border-radius: 100px;
}

/* volume */

.volume-div {
    margin-top: -15px;
}

.volume-div img {
    max-width: 75px;
    cursor: pointer;
    user-select: none;
}

.volume-div img:not(.loud) {
    margin-right: 20px;
    margin-top: 4px;
}

.volume-div img.loud {
    max-width: 94px;
}

.top-bar-mob {
    display: none;
}

/* Managing Mob Icon */

.mobMob {
    display: none;
}

/* Headings */

img.title-img {
    width: 55%;
}

img.title-img:hover {
    scale: 1.05;
    transition: 0.3s;
}

img.subtitle-img {
    width: 40%;
    object-fit: contain;
}

img.subtitle-img:hover {
    scale: 1.05;
    transition: 0.3s;
}

.title-bar {
    padding-top: 20px;
    z-index: 1;
}

img.garbage {
    width: 100%;
    margin-bottom: -4px;
}

.bottom-garbage {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: auto;
}

.garbageMob {
    display: none;
}

/*////////////////////////////// mintBtn/////////////////////////////////// */

.mintBtn {
    width: 170px;
    border-radius: 12px;
    background-image: url("./assets/images/btn-bg.png");
    margin: 35px auto;
    margin-bottom: 15px;
    background-size: 100% 100%;
    padding: 21px 0px 20px 0px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.3s linear;
    background-color: transparent;
    font-family: cooper-std-black;
    color: #422e49;
    font-size: 20px;
}

.mintBtn:hover {
    scale: 1.03;
}

.fifty33 img {
    width: 15%;
    margin: 0 auto;
}

/* //////// Twitter Boat Images ///////// */

.twitter,
.etherscan,
.openSea {
    position: absolute;
    /* max-width: 100px; */
}

.twitter img,
.etherscan img,
.openSea img {
    width: auto;
    max-width: 100%;
    object-fit: contain;
    width: 178px;
}

.twitter img {
    width: 185px;
}

.twitter:hover,
.etherscan:hover,
.openSea:hover {
    position: absolute;
    scale: 1.07;
    transition: 0.2s;
}

.twitter {
    right: 28.8%;
    bottom: 71.2%;
}

.openSea {
    right: 13.9%;
    bottom: 74.6%;
}

.etherscan {
    right: 5.3%;
    bottom: 42.2%;
}

/* Trash Box */

.box-div {
    position: absolute;
    width: 40%;
    bottom: 22.8%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.box-div img {
    max-width: 85%;
    width: auto;
    object-fit: contain;
    margin-left: -16px;
}

.box-overlay {
    position: absolute;
    left: 53%;
    width: 50%;
    transform: translateX(-50%);
    bottom: 7%;
    height: 140px;
    mask-image: url(./assets/images/box-self.png);
    -webkit-mask-image: url(./assets/images/box-self.png);
    -webkit-mask-size: cover;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    opacity: 0;
}

.boxhover {
    margin-left: -5px;
}

.hide {
    display: none !important;
}

/* Mobile */

.mobileRoundIconDivs {
    display: none;
}

.twitterMob img,
.etherscanMob img,
.openSeaMob img {
    width: 115px;
}

.openSeaMob img {
    width: 113px;
}

.twitterMob:hover,
.etherscanMob:hover,
.openSeaMob:hover {
    scale: 1.07;
    transition: 0.2s;
}

.openSeaMob img {
    margin-top: 20px;
}

/* Hover Modal on Mobile icon click */

.mobileHover {
    display: none;
}

.mobileHover {
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    min-width: 78%;
    max-width: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100vh - 20px);
    overflow: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    z-index: 99999;
    animation: modelFade 0.3s linear;
}

@keyframes modelFade {
    0% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.cross {
    margin-left: auto;
    max-width: 22px;
    display: block;
    cursor: pointer;
    user-select: none;
}

.cross img {
    max-width: 100%;
    width: max-content;
    display: block;
    object-fit: contain;
}

.mobileHover .message-wrapper {
    height: 100%;
    max-height: 100%;
    color: #e92cff;
    font-size: 16px;
    padding: 0 5px;
    margin: 16px auto 0 auto;
    text-align: center;
}

/* Flies */

.fly3 {
    position: absolute;
    bottom: 120px;
    right: 31%;
    user-select: none;
    pointer-events: none;
    max-width: 370px;
}

.fly2 {
    position: absolute;
    bottom: 130px;
    right: 27.9%;
    user-select: none;
    pointer-events: none;
    max-width: 220px;
}

.fly1 {
    position: absolute;
    bottom: 50px;
    right: -3%;
    user-select: none;
    pointer-events: none;
    max-width: 220px;
}

/* Managing clouds on desktop */

.cloud1Desktop,
.cloud2Desktop,
.cloud3Desktop,
.cloud4Desktop {
    display: none;
}

.cloud1 {
    position: absolute;
    width: 63%;
    bottom: 25%;
    left: -20%;
}

.cloud2 {
    position: absolute;
    width: 50%;
    bottom: 35.5%;
    z-index: 1;
    right: -20%;
}

/* All Media Queries  */

@media only screen and (max-width: 1008px) {
    img.title-img {
        width: 60%;
    }
    img.subtitle-img {
        width: 50%;
    }
}

@media only screen and (max-width: 840px) {
    img.title-img {
        width: 70%;
    }
    img.subtitle-img {
        width: 55%;
    }
}

@media only screen and (min-width: 2060px) {
    .twitter {
        right: 28.5%;
        bottom: 72%;
    }
    .openSea {
        right: 14%;
        bottom: 72.6%;
    }
    .etherscan {
        right: 6%;
        bottom: 42.8%;
    }
    .fifty33 img {
        width: 10%;
    }
    .box-overlay {
        height: 250px;
    }
}

@media only screen and (min-width: 1860px) {
    .twitter {
        right: 27%;
        bottom: 68%;
    }
    .openSea {
        right: 13%;
        bottom: 70%;
    }
    .etherscan {
        right: 5%;
        bottom: 41.5%;
    }
    .outOfOrder img {
        width: 180px;
    }
}

@media only screen and (max-width: 1860px) {
    .twitter {
        right: 26%;
        bottom: 67%;
    }
    .openSea {
        right: 12%;
        bottom: 70%;
    }
    .etherscan {
        right: 4.5%;
        bottom: 41%;
    }
    .outOfOrder img {
        width: 190px;
    }
}

@media only screen and (max-width: 1570px) {
    .twitter {
        right: 28%;
        bottom: 68%;
    }
    .openSea {
        right: 13.7%;
        bottom: 70%;
    }
    .etherscan {
        right: 5.3%;
        bottom: 41%;
    }
    .twitter img,
    .etherscan img,
    .openSea img {
        width: 108px;
    }
    .outOfOrder img {
        width: 121px;
    }
    .twitter img {
        width: 108px;
    }
}

@media only screen and (max-width: 1350px) {
    .twitter {
        right: 27%;
        bottom: 68%;
    }
    .openSea {
        right: 13%;
        bottom: 69%;
    }
    .etherscan {
        right: 4.5%;
        bottom: 40.5%;
    }
}

@media only screen and (max-width: 1170px) {
    .openSea {
        right: 12%;
        bottom: 68.5%;
    }
    .etherscan {
        right: 4.5%;
        bottom: 40.5%;
    }
    .twitter {
        right: 26.5%;
        bottom: 67%;
    }
    .etherscan img,
    .openSea img {
        width: 100px;
    }
    .outOfOrder img {
        width: 130px;
    }
}

@media only screen and (max-width: 1080px) {
    .twitter {
        right: 25.5%;
        bottom: 67%;
    }
    .openSea {
        right: 11.5%;
        bottom: 68%;
    }
    .etherscan {
        right: 4%;
        bottom: 41%;
    }
}

@media only screen and (max-width: 990px) {
    .twitter {
        right: 25%;
        bottom: 66%;
    }
    .openSea {
        right: 11%;
        bottom: 68%;
    }
    .etherscan {
        right: 3.3%;
        bottom: 40%;
    }
    .etherscan img,
    .openSea img {
        width: 95px;
    }
    .outOfOrder img {
        width: 115px;
    }
    .twitter img {
        width: 115px;
    }
}

@media only screen and (max-width: 890px) {
    .twitter {
        right: 25%;
        bottom: 66%;
    }
    .openSea {
        right: 11.3%;
        bottom: 67.1%;
    }
    .etherscan {
        right: 3.3%;
        bottom: 40%;
    }
    .etherscan img,
    .openSea img {
        width: 85px;
    }
    .outOfOrder img {
        width: 100px;
    }
    .twitter img {
        width: 105px;
    }
}

@media (min-width: 200px) {
    .box-overlay {
        left: 45%;
        bottom: 1%;
        height: 100px;
    }
}

@media (min-width: 350px) {
    .box-overlay {
        left: 47%;
    }
}

@media (min-width: 450px) {
    .box-overlay {
        bottom: 3%;
        left: 49%;
        height: 150px;
    }
}

@media (min-width: 600px) {
    .box-overlay {
        bottom: 3%;
        left: 49%;
        height: 180px;
    }
}

@media (min-width: 768px) {
    .box-overlay {
        bottom: 6%;
        height: 95px;
    }
}

@media (min-width: 992px) {
    .box-overlay {
        bottom: 7%;
        height: 140px;
    }
}

@media (min-width: 1450px) {
    .box-overlay {
        bottom: 12%;
        height: 160px;
    }
}

@media (min-width: 1450px) {
    .box-overlay {
        height: 190px;
    }
    .box-div {
        bottom: 22.9%;
    }
    .box-div img {
        margin-left: -19.6px;
    }
}

@media (min-width: 1800px) {
    .box-overlay {
        height: 190px;
    }
    .box-div {
        bottom: 22.9%;
    }
    .box-div img {
        width: 85%;
        max-width: 85%;
        /* margin-left: -18px; */
        margin-left: -22px;
    }
}

@media (min-width: 2560px) {
    .box-overlay {
        bottom: 11%;
    }
    .box-div {
        bottom: 23.4%;
    }
    .box-div img {
        width: 84%;
        max-width: 84%;
    }
}

@media only screen and (max-width: 768px) {
    .box-div {
        left: 0;
        bottom: 25%;
        width: 81%;
    }
    .box-div img {
        margin-left: -52px;
    }
    .mintBtn {
        padding: 15px 0px 15px 0px;
        font-size: 12px;
    }
    .garbageMob {
        display: block;
        width: 100%;
    }
    .garbage {
        display: none;
    }
    .deskMob {
        display: none;
    }
    .mobMob {
        display: block;
    }
    .App {
        background: #2c94ff url(./assets/images/clouds.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-clip: content-box;
    }
    .etherscan,
    .openSea,
    .twitter {
        display: none;
    }
    .mobileRoundIconDivs {
        display: flex;
        width: 94%;
        margin: 20px auto;
        justify-content: space-around;
    }
    .top-bar-mob {
        display: flex;
        width: 96%;
        margin: 0 auto 80px auto;
        justify-content: space-between;
        z-index: 9999;
        position: relative;
    }
    .volume-div {
        margin: auto 0;
    }
    .volume-div img {
        max-width: 59px;
        margin-bottom: 8px;
    }
    .volume-div img.loud {
        max-width: 74px;
        margin-right: 4.9px;
    }
    .phoneGif {
        max-width: 84px;
        z-index: 222;
        margin: auto 0;
    }
    .phoneGifHover {
        left: 15px;
        top: 12.6px;
        max-width: 53.6px;
    }
    /*  */
    .hoverText,
    .top-bar {
        display: none;
    }
    .mintBtn {
        width: 114px;
    }
    .fifty33 img {
        width: 44%;
    }
    img.title-img {
        width: 85%;
        object-fit: contain;
    }
    img.subtitle-img {
        width: 75%;
        object-fit: contain;
    }
    .mobileHover {
        display: flex;
    }
    .fly1 {
        bottom: 80px;
        right: -66px;
        max-width: 150px;
    }
    .fly2 {
        bottom: 70px;
        right: -20px;
        max-width: 150px;
    }
    .fly3 {
        max-width: 260px;
        bottom: 42px;
        right: -10px;
    }
}

@media (max-width: 600px) {
    .box-div img {
        margin-left: -40px;
    }
}

@media (max-width: 500px) {
    .box-div {
        width: 80.8%;
    }
    .box-div img {
        margin-left: -31px;
    }
}

@media (max-width: 360px) {
    .box-div {
        bottom: 24.8%;
        width: 82%;
    }
}

@media (max-width: 310px) {
    .box-div img {
        margin-left: -28px;
    }
}

@media only screen and (min-width: 1800px) {
    .fly3 {
        bottom: 260px;
    }
}

@media only screen and (min-width: 1460px) {
    .fly3 {
        max-width: 450px;
        right: 31%;
    }
    .fly2 {
        bottom: 180px;
        right: 29.9%;
        max-width: 250px;
    }
    .fly1 {
        bottom: 75px;
        max-width: 250px;
        right: 0%;
    }
}

@media only screen and (min-width: 1400px) {
    .fly3 {
        bottom: 190px;
    }
}

@media only screen and (max-width: 1200px) {
    .fly3 {
        bottom: 70px;
        right: 28%;
    }
    .fly2 {
        bottom: 90px;
        right: 24%;
    }
    .fly1 {
        bottom: 50px;
        right: -3%;
    }
}

@media only screen and (max-width: 1050px) {
    .fly3 {
        bottom: 50px;
    }
    .fly2 {
        bottom: 60px;
        right: 25%;
    }
    .fly1 {
        /* bottom: 0px; */
        /* right: 0%; */
    }
}

@media only screen and (max-width: 768px) {
    .fly3 {
        right: -4%;
        bottom: 57%;
    }
    .fly2 {
        bottom: 59%;
        right: 13%;
    }
    .fly1 {
        bottom: 35%;
        left: -2%;
    }
}

@media only screen and (max-width: 528px) {
    .fly3 {
        right: -12%;
        bottom: 45%;
    }
    .fly2 {
        bottom: 59%;
    }
    .fly1 {
        left: -7%;
    }
}

@media only screen and (max-width: 400px) {
    .fly3 {
        right: -14%;
    }
    .fly2 {
        right: 5%;
    }
    .fly1 {
        left: -12%;
    }
}

@media only screen and (max-width: 362px) {
    .fly3 {
        right: -19%;
        bottom: 39%;
    }
    .fly2 {
        right: 4%;
        bottom: 54%;
    }
    .fly1 {
        left: -14%;
    }
}

/* Custom Clouds */

@media only screen and (min-width: 768px) {
    .cloud1,
    .cloud2 {
        display: none;
    }
}

@media only screen and (min-width: 350px) {
    .cloud1 {
        bottom: 28%;
        left: -25%;
    }
    .cloud2 {
        bottom: 37%;
        right: -30%;
    }
}

@media only screen and (min-width: 440px) {
    .cloud1 {
        bottom: 31%;
        left: -30%;
    }
    .cloud2 {
        bottom: 38%;
        right: -33%;
    }
}

@media only screen and (min-width: 570px) {
    .cloud1 {
        bottom: 33%;
        left: -30%;
    }
    .cloud2 {
        bottom: 44%;
        right: -33%;
    }
}

@media only screen and (min-width: 768px) {
    .App {
        background-image: none;
        background-color: #2c94ff;
    }
    .cloud1Desktop,
    .cloud2Desktop,
    .cloud3Desktop,
    .cloud4Desktop {
        display: block;
        position: absolute;
        width: auto;
        max-width: 100%;
        object-fit: contain;
    }
    .cloud1Desktop {
        bottom: 25%;
        left: -3%;
    }
    .cloud2Desktop {
        top: 10%;
        right: 2%;
        max-width: 350px;
    }
    .cloud3Desktop {
        top: 73%;
        right: 0%;
        max-width: 150px;
    }
    .cloud4Desktop {
        top: 65%;
        right: 2%;
    }
}

/* Emoji Image Heading */

.emojiImg {
    margin-top: 20px;
    margin-bottom: 17px;
}

.emojiImg img {
    width: 30%;
    min-width: 260px;
}

.sloganMob {
    display: none;
}

.slogan h4:hover {
    scale: 1.05;
    display: inline-block;
    transition: 0.5s;
}

.slogan h4 {
    font-size: 21px;
    color: white;
}

@media only screen and (max-width: 950px) {
    .slogan h4 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .slogan {
        display: none;
    }
    .sloganMob {
        display: inline-block;
    }
}